{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-commonjs-es2015-modules",
    "@babel/plugin-transform-runtime"
  ]
}
